html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Merriweather", "serif";
}

h1 {
  margin: 50px 0 0 0;
  font-size: 5rem;
  color: orangered;
  font-family: "Sacramento", cursive;
}
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: #66bfbf;
  font-size: 3rem;
}
h3,
a {
  color: darkorange;
}
.profile-line {
  color: whitesmoke;
}
.profile-line {
  font-size: 1.5rem;
}
.top-container {
  margin: 0;
  background: lightskyblue;
  border: 1px solid #05dfd7;
  text-align: center;
  padding-top: 60px;
}

.clouds {
  margin: 0;
}
.cloud-top-right {
  margin-left: 200px;
}
.cloud-top-left {
  margin-right: 200px;
}
.volcano {
  height: 100%;
}
.landscape {
  height: 60vh;
  background: url(resources/top-container/mountains.png) left top;
  background-size: cover;
}

.middle-container,
.bottom-container {
  text-align: center;
  background-color: white;
}

.profile-img {
  border-radius: 50%;
  background-color: lightskyblue;
}
.skills-img:hover {
  background-color: lightskyblue;
  cursor: pointer;
}
.skill-row {
  width: 50%;
  margin: 50px auto;
  text-align: left;
  line-height: 2;
}

.skill-row > img {
  width: 25%;
  margin: 30px 30px 0 0;
}
.skill-row:nth-of-type(2n + 1) > img {
  float: left;
}
.skill-row:nth-of-type(2n) > img {
  float: right;
}
